<ul class="posts" style="margin-top: 0px">
    {% for liuyan in liuyans %}
        <li class="post">
            <div class="post-thumbnail">
                <a href="{{ url_for('.user', username=liuyan.author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ liuyan.author.gravatar(size=40) }}">
                </a>
            </div>
            <div class="post-content">
                <div class="post-date">{{ moment(liuyan.timestamp).fromNow() }}</div>
                <div class="post-author"><a
                        href="{{ url_for('.user', username=liuyan.author.username) }}">{{ liuyan.author.username }}</a>
                </div>
                <div class="post-body">{{ liuyan.body }}</div>
            </div>
        </li>
    {% endfor %}
</ul>